@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    font-size: 4em;
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif;
}

.calculator {
    position: relative;
    background-color: #444;
    width: 4em;
    /*border-style: solid;*/
    /*border-width: .1em;*/
    /*border-color: #444;*/
    box-shadow: 0 14px 28px 
    rgba(0,0,0,0.25), 0 10px 10px 
    rgba(0,0,0,0.22);
    background-image: url('./calc.png');
    background-size: 200%;
}

#screen {
    background: linear-gradient(45deg, #325718, #628f24);
    height: 75px;
    color: white;
    padding: 0;
    padding-right: .25em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

.stateChangers {
    background-color: rgba(25,25,25,.1);
    border: 1px solid rgba(44,44,44,.3);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.operators {
    background-color: rgba(20,20,20,.3);
    border: 1px solid rgba(44,44,44,.3);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

button {
    font-size: .5em;
    border: 0;
    padding: 0;
    width: 25%;
    line-height: 0em;
    height: 2em;
}

button:focus {
    outline: none;
}

.operators:hover {
    background-color: rgba(20,20,20,.5);
}

.stateChangers:hover {
    background-color: rgba(25,25,25,.3);
}

.operators:active {
    background-color: rgba(20,20,20,.7);
}

.stateChangers:active {
    background-color: rgba(25,25,25,.5);
}

#zero {
    width: 50%;
    height: 2em;
}
